<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8" />
	<title>Coaches</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<a href="/"> Home Page </a>
	<h2>Coaches</h2>
	<form action="/coaches/" method="POST">
	<h3>Search</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Nationality</th>
			<th>Birth Date</th>
			<th>Current Team</th>
		</tr>
		<tr>
			<td> <input type="text" name="name_find" > </td>
			<td> <input type="text" name="gender_find" > </td>
			<td> <input type="text" name="nationality_find" > </td>
			<td> <input type="text" name="birth_date_find" > </td>
			<td> <input type="text" name="current_team_find" > </td>

		</tr>
	</table>
	<input type="submit" name="find"value="Find" />
	<input type="submit" name="showall"value="Show All" />

	<br><br><br>
	<table>
		<tr>
			<th>Delete</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Nationality</th>
			<th>Birth Date</th>
			<th>Current Team</th>
		</tr>
		{% for coach in coaches %}
		<tr>
			<td><input type="checkbox" name="coaches_to_delete"value="{{coach[0]}}" /></td>
			<td> <input type="text" name="name_update{{coach[0]}}" value="{{coach[1]}}"> </td>
			<td> <input type="text" name="gender_update{{coach[0]}}" value="{{coach[2]}}"> </td>
			<td> <input type="text" name="nationality_update{{coach[0]}}" value="{{coach[3]}}"> </td>
			<td> <input type="text" name="birth_date_update{{coach[0]}}" value="{{coach[4]}}"> </td>
			<td> <input type="text" name="current_team_update{{coach[0]}}" value="{{coach[5]}}"> </td>
			<td><button type="submit" name="update" value="{{coach[0]}}" >Update</button></td>

		</tr>
		{% endfor %}
	</table>
		<input type="submit" name="delete"value="delete" />
	<h3>Add New Coach</h3>

		<table>
			<tr>
				<td>Name</td>
				<td>Gender</td>
				<td>Nationality</td>
				<td>Birth Date</td>
				<td>Current Team</td>
			</tr>
			<tr>
				<td> <input type="text" name="name" > </td>
				<td> <input type="text" name="gender" > </td>
				<td> <input type="text" name="nationality" > </td>
				<td> <input type="text" name="birth_date" > </td>
				<td> <input type="text" name="current_team" > </td>

			</tr>
		</table>
		<input type="submit" name="add"value="add" />

	</form>

</body>
</html>
