<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

    <h1> Table Tennis Home Page </h1>

	<ul>
	 <li><a href="/referees"> Referees </a></li>
	 <li><a href="/coaches"> Coaches </a></li>
	 <li><a href="/players"> Players </a></li>
	 <li><a href="/teams"> Teams </a></li>
	 <li><a href="/tournaments"> Tournaments </a></li>
	 <li><a href="/technicMembers"> Technic Members </a>
	</ul>




     <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>

