<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8" />
	<title>Matches</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<a href="/"> Home Page </a>
	<form action="/matches" method="POST">
	<h2>Search and Update</h2>
	<table>
		<tr>
			<th>Tournament</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>Score</th>
		</tr>
		<tr>
			<td> <input type="text" name="tournamentFind" > </td>
			<td> <input type="text" name="team1Find" > </td>
			<td> <input type="text" name="team2Find" > </td>
			<td> <input type="text" name="scoreFind" > </td>

		</tr>
	</table>
	<input type="submit" name="find"value="find" />

	<br/><br/><br/>

	<table>
		<tr>

			<th>Current Tournament</th>
			<th>New Tournament</th>
			<th>Current Team1</th>
			<th>New Team1</th>
			<th>Current Team2</th>
			<th>New Team2</th>
			<th>Score</th>
		</tr>
		{% for match in matchesToShow %}
		<tr>

			<td> {{match[1]}} </td>
			<td><select name="tournamentUpdate{{match[0]}}">
				{% for tournament in TournamentsSelect %}
  					<option value="{{tournament[0]}}">{{tournament[1]}}</option>
  				{% endfor %}
					</select></td>
			<td> {{match[2]}} </td>
			<td><select name="team1Update{{match[0]}}">
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
					</select></td>
			<td> {{match[3]}} </td>
			<td><select name="team2Update{{match[0]}}">
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
					</select></td>
			<td> <input type="text" name="scoreUpdate{{match[0]}}" value="{{match[4]}}"> </td>
			<td><button type="submit" name="update" value="{{match[0]}}" >Update</button></td>
		</tr>
		{% endfor %}
	</table>

	<br/><br/><br/>

	<h3>Matches</h3>
	<table>
		<tr>
			<th>#</th>
			<th>Tournament</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>Score</th>
		</tr>
		{% for match in matches %}
		<tr>
			<td><input type="checkbox" name="matches_to_delete"value="{{match[0]}}" /></td>
			<td> {{match[1]}} </td>
			<td> {{match[2]}} </td>
			<td> {{match[3]}} </td>
			<td> {{match[4]}} </td>
		</tr>
		{% endfor %}
	</table>
		<input type="submit" name="delete"value="delete" />
	<h4>Add New Match</h4>

		<table>
			<tr>
				<td>Tournament</td>
				<td>Team1</td>
				<td>Team2</td>
				<td>Score</td>
			</tr>
			<tr>
				<td> <select name="tournament" >
				{% for tournament in TournamentsSelect %}
  					<option value="{{tournament[0]}}">{{tournament[1]}}</option>
  				{% endfor %}
  				</select> </td>
				<td> <select name="team1" >
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
  				</select> </td>
				<td> <select name="team2" >
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
  				</select> </td>
				<td> <input type="text" name="score" > </td>

			</tr>
		</table>
		<input type="submit" name="add"value="add" />

	</form>

</body>
</html>
