<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8" />
	<title> Technic Members </title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<a href="/"> Home Page </a>
	<h2> Technic Members </h2>
	<form action="/technicMembers" method="POST">
	<table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Gender</th>
		</tr>
		{% for tm in tms %}
		<tr>
			<td><input type="checkbox" name="tms"value="{{tm[0]}}" /></td>
			<td> {{tm[1]}} </td>
			<td> {{tm[2]}} </td>
		</tr>
		{% endfor %}
	</table>
	<table>
		<tr>
			<td> <input type="text" name="nameToUpdate" > </td>
			<td> <input type="text" name="genderToUpdate" > </td>
		</tr>
	</table>
		<input type="submit" name="update" value="update" />
		<input type="submit" name="delete" value="delete" />

	<h3>Add New Technic Member</h3>

		<table>
			<tr>
				<td>Name</td>
				<td>Gender</td>
			</tr>
			<tr>
				<td> <input type="text" name="nameToAdd" > </td>
				<td> <input type="text" name="genderToAdd" > </td>

			</tr>
		</table>
		<input type="submit" name="add" value="add" />

	</form>

</body>
</html>