{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8" />
	<title> Technic Members </title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<a href="/"> Home Page </a>
	<h1> Technic Members </h1>
	<form action="/technicMembers" method="POST">
	<h2> Find technic members </h2>
	<table>
		<tr>
			<td>Name</td>
			<td>Gender</td>
			<td>Nation</td>
			<td>Birth Date</td>
			<td>Team</td>
		</tr>
		<tr>
			<td> <input type="text" name="nameToFind" ></td>
			<td> <input type="text" name="genderToFind" ></td>
			<td> <input type="text" name="nationToFind" ></td>
			<td> <input type="text" name="birthDateToFind" ></td>
			<td> <input type="text" name="coachToFind" ></td>
			<td> <input type="submit" name="find" value="find" /></td>
		</tr>

	</table>

	<br/> <br/>

	<table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Nation</th>
			<th>Birth Date</th>
			<th>Coach</th>
		</tr>
		{% for tm in tms %}
		<tr>
			<td><input type="checkbox" name="tms"value="{{tm[0]}}" /></td>
			<td> {{tm[1]}} </td>
			<td> {{tm[2]}} </td>
			<td> {{tm[3]}} </td>
			<td> {{tm[4]}} </td>
			<td> {{tm[5]}} </td>

		</tr>
		{% endfor %}
	</table>
		<input type="submit" name="delete" value="delete" />
	<br/> </br>

	<table>
		<tr>
			<td>Name</td>
			<td>Gender</td>
			<td>Nation</td>
			<td>Birth Date</td>
			<td>Coach</td>
		</tr>
		<tr>
			<td> <input type="text" name="nameToUpdate" > </td>
			<td> <input type="text" name="genderToUpdate" > </td>
			<td> <input type="text" name="nationToUpdate" > </td>
			<td> <input type="text" name="birthDateToUpdate" > </td>
			<td><select name = "coachToUpdate" >
				{% for coach in coaches %}
					<option value="{{coach[0]}}">{{coach[1]}}</option>
				{% endfor %}
			</select></td>
		</tr>
	</table>
		<input type="submit" name="update" value="update" />


	<h2>Add New Technic Member</h2>

		<table>
			<tr>
				<td>Name</td>
				<td>Gender</td>
				<td>Nation</td>
				<td>Birth Date</td>
				<td>Coach</td>
			</tr>
			<tr>
				<td> <input type="text" name="nameToAdd" > </td>
				<td> <input type="text" name="genderToAdd" > </td>
				<td> <input type="text" name="nationToAdd" > </td>
				<td> <input type="text" name="birthDateToAdd" > </td>
				<td><select name = "coachToAdd" >
				{% for coach in coaches %}
					<option value="{{coach[0]}}">{{coach[1]}}</option>
				{% endfor %}
			</select></td>

			</tr>
		</table>
		<input type="submit" name="add" value="add" />

	</form>

</body>
</html>

{% endblock %}