<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8" />
	<title>Tournaments</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<a href="/"> Home Page </a>
	<form action="/tournaments/" method="POST">
	<h2>Search and Update</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Year</th>
			<th>Winner</th>
			<th>Best Player</th>
		</tr>
		<tr>
			<td> <input type="text" name="nameFind" > </td>
			<td> <input type="text" name="yearFind" > </td>
			<td> <input type="text" name="winnerFind" > </td>
			<td> <input type="text" name="best_playerFind" > </td>

		</tr>
	</table>
	<input type="submit" name="find"value="find" />

	<br/><br/><br/>

	<table>
		<tr>

			<th>Name</th>
			<th>Year</th>
			<th>Current Winner</th>
			<th>New Winner</th>
			<th>Current Best Player</th>
			<th>New Best Player</th>
		</tr>
		{% for tournament in tournamentsToShow %}
		<tr>

			<td> <input type="text" name="nameUpdate{{tournament[0]}}" value="{{tournament[1]}}"> </td>
			<td> <input type="text" name="yearUpdate{{tournament[0]}}" value="{{tournament[2]}}"> </td>
			<td> {{tournament[3]}} </td>
			<td><select name="winnerUpdate{{tournament[0]}}">
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
					</select></td>
			<td> {{tournament[4]}} </td>
			<td><select name="best_playerUpdate{{tournament[0]}}">
				{% for player in PlayersSelect %}
  					<option value="{{player[0]}}">{{player[1]}}</option>
  				{% endfor %}
					</select></td>
			<td><button type="submit" name="update" value="{{tournament[0]}}" >Update</button></td>
		</tr>
		{% endfor %}
	</table>

	<br/><br/><br/>

	<h3>Tournaments</h3>
	<table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Year</th>
			<th>Winner</th>
			<th>Best Player</th>
		</tr>
		{% for tournament in tournaments %}
		<tr>
			<td><input type="checkbox" name="tournaments_to_delete"value="{{tournament[0]}}" /></td>
			<td> {{tournament[1]}} </td>
			<td> {{tournament[2]}} </td>
			<td> {{tournament[3]}} </td>
			<td> {{tournament[4]}} </td>
		</tr>
		{% endfor %}
	</table>
		<input type="submit" name="delete"value="delete" />
	<h4>Add New Tournament</h4>

		<table>
			<tr>
				<td>Name</td>
				<td>Year</td>
				<td>Winner</td>
				<td>Best Player</td>
			</tr>
			<tr>
				<td> <input type="text" name="name" > </td>
				<td> <input type="text" name="year" > </td>
				<td> <select name="winner" >
				{% for team in TeamsSelect %}
  					<option value="{{team[0]}}">{{team[1]}}</option>
  				{% endfor %}
  				</select> </td>
				<td><select name="best_player">
				{% for player in PlayersSelect %}
  					<option value="{{player[0]}}">{{player[1]}}</option>
  				{% endfor %}
					</select></td>

			</tr>
		</table>
		<input type="submit" name="add"value="add" />

	</form>

</body>
</html>
